.FeedbackForm{
    background-color: rgb(173, 222, 245);
    border-radius: 30px;
    width: 40vw;
    height: 60vh;
    transition: all 0.8s ease-out;
    padding-top: 2rem;
}

.InputContainer p{
    margin: 5px 0 5px 0;
    font-weight: 500;
}

.InputContainer input{
    width: 15rem;
    height: 2.2rem;
    border: none;
    border-radius: 7px;
    box-shadow: 1px 1px 15px rgb(194, 193, 193);
}

.Address{
    width: 20rem;
}